<head>
  <meta charset="utf-8">
  <title><%= current_page.data.title + ' | ' unless current_page.data.title.nil? %><%= data.site.name %></title>
  <meta name="description" content="">
  <link rel="canonical" href="">
  <link rel="next" href="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:type" content="blog">
  <meta property="og:site_name" content="">
  <meta property="og:site_url" content="">
  <link href="http://tech.feedforce.jp/wp-content/themes/2014fftt/css/fftt.css" rel="stylesheet">
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "FFTT RSS Feed" %>
  <!--[if lt IE 9]>
  <script src="/js/polyfill.js"></script>
  <![endif]-->
  <!--

	88888    88888    888888    888888
	88       88         88        88
	88888    8888       88        88
	88       88         88        88
	88       88         88        88
______________________________________

  ―― May The Force Be With You ――
______________________________________

  -->
</head>
