<header>
  <div class="wrapper">
    <div class="menubtn"><span>MENU</span></div>
    <div id="menu" class="togmenu">
      <%= partial 'nav' %>
      <%= partial 'search' %>
    </div>
  </div>
</header>
<h1 id="headline"><a href="/"><%= data.site.title %></a></h1>
