<div id="single-entry-bnr">
  <a href="http://developer.feedforce.jp">
    <%= image_tag 'developer-blog_banner760.png', alt: 'Feedforce Developer Blog' %>
  </a>
  <p>新しいブログへ移行しました！こちらもよろしくお願いします。</p>
</div>
