<div class="entry-bnr">
  <h3 class="entry-bnr__title">Recommended</h3>

  <ul class="entry-bnr__images">
      <li><%= link_to image_tag('bnr_engineer.png' ,:alt => 'エンジニア募集中です！', class: 'entry-bnr__image'), 'http://recruit.feedforce.jp/engineer_2015/' %></li>
      <li><%= link_to image_tag('bnr_intern.png' ,:alt => 'エンジニア募集中です！', class: 'entry-bnr__image'), 'http://recruit.feedforce.jp/s_intern/2015/' %></li>
  </div>

</div>