---
title: "FFTTとは"
---
<article class="entry">
  <div class="entry-date">
    <h1><a href="http://tech.feedforce.jp/about" title="FFTTとは">FFTTとは</a></h1>
  </div>
  <div class="entry-body">
    <p>FeedForce Tech Team ゆえに FFTT。</p>

    <p>このサイトは株式会社フィードフォースの技術チームのメンバーが大小のアウトプットを行っていく場として設けました。<br>
      多少なりとも面白いことを発信していければなぁ、と思っています。</p>

    <p>もし内容に関してツッコミ、疑問質問などなどありましたら気軽にフィードバックいただけるとこれ幸いです。</p>

    <h3>FFメンバーの興味範囲</h3>

    <p>イコールこのサイトのコンテンツの傾向ですね。<br>
      だいたい以下のような感じです。と思います。</p>
    <ul style="padding-bottom:10px;">
      <li>ウェブ技術・サービス全般（またあいまいな・・・）</li>
      <li>PHP</li>
      <li>Ruby</li>
      <li>アジャイル開発</li>
      <li>Web API</li>
      <li>Linux関連いろいろ</li>
      <li>RSSフィード</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
  </div>
</article>
