---
title: "編集者一覧"
---

<article class="entry-page">
  <h1>編集者一覧</h1>

  <ul class="page-member">
    <% data.author.select{ |author| !author['resignation'] }.each do |authors| %>
      <%= partial 'authors', locals: {authors: authors} %>
    <% end %>
  </ul>
  <!--/投稿者一覧を表示-->

  <h1>殿堂入り</h1>

  <ul class="page-member">
    <% data.author.select{ |author| author['resignation'] }.each do |authors| %>
      <%= partial 'authors', locals: {authors: authors} %>
    <% end %>
  </ul>
  <!--/殿堂入り一覧を表示-->

  <div class="page-member-links">
    <h2>feedforce tech team <br>ソーシャルアカウント</h2>
    <ul>
      <li id="qiita"><a href="http://qiita.com/organizations/feedforce" target="_blank"><span>Qiita</span></a></li>
      <li id="forkwell"><a href="https://forkwell.com/c/feedforce" target="_blank"><span>Forkwell</span></a></li>
      <li id="github"><a href="https://github.com/feedforce" target="_blank"><span>GitHub</span></a></li>
    </ul>
  </div>
  <!-- /entry-head --></article>
