---
title: "Google API Test Page"
---

<article class="entry-page">
  <h1>編集者一覧</h1>
  <button id="authorize-button" style="visibility: hidden">Authorize</button><br/>
  <button id="make-api-call-button" style="visibility: hidden">Get Sessions</button>
</article>
